@media (min-width: 992px) and (max-width: 1199px) {

	/* Basic */

	html, body {
		overflow-x: hidden;
	}
	
	/*top*/

	#header {
		padding: 2em 0 0 0;
	}

	#header header h1 {
		width: 180px;
		margin-right: 180px;
	}

	#top a {
		width: 158px;
		height: 40px;
		margin-right: 10px;
	}

	#top .btn-rounded {
		font-size: 17px;
		line-height: 36px;
	}

	#top form input {
		width: 214px;
    	height: 40px;
    	padding-left: 40px;
	}

	#top i,
	#top form button {
		width: 36px;
		height: 34px;
	}

	#top i::before,
	#top form .i-loupe::before {
		background-size: 50%;
	}
	
	/*nav*/
	#nav {
		margin: 1.5em 0 0 0;
	}

	#nav > ul {
		padding: 15px 0;
	}

	#nav > ul > li > a {
		font-size: 14px; 
		line-height: normal;
	}

	.navbar-collapse:not(.show) {
		display: block;
	}

	/*banner*/ 
	#banner header {
		top: 5.75em; 
	}

	#banner header h2 {
		font-size: 65px;
	}

	#banner header h2 + a {
		font-size: 42px;
	}
	
	/*period*/
	#intro {
		margin-top: -35px;
	}

	#intro .plans {
		padding: 0 65px;
	}

	#intro section {
		margin: 0 0 1.5em 0;
		background-position: 6px 9px;
		background-size: 70%;
		padding: 90px 0 30px 0;
	}

	#intro section.middle {
		margin-top: -60px;
	}

	#intro section .period {
		width: 172px;
		left: 0px;
	}

	#intro section .period.small {
	    font-size: 13px;
	    top: 24px;
	}

	#intro section .period:not(.small) {
		font-size: 19px; 
	}

	#intro section .plan {
		margin-bottom: 25px;
	} 

	#intro section .plan .coin {
		font-size: 21px;
	}

	#intro section .plan .price {
		font-size: 120px;
		line-height: 100px;
	}

	#intro section .plan .comma {
		font-size: 50px; 
	}

	#intro section .plan .cents {
		font-size: 26px; 
	}

	#intro section p.desc {
		font-size: 15px;
		margin-bottom: 30px;
		line-height: 24px;
	}

	#intro section a.buy {
		font-size: 14px;
		padding: 8px 24px;
	} 

	#intro footer p {
		font-size: 24px;
		letter-spacing: -1px;
	} 

	#intro footer a {
		font-size: 17px;
		padding: 12px 22px;
		letter-spacing: -1px;
	}

	/*gallery*/
	#main {
		padding-top: 0;
	}

	#main #gallery {
		padding-bottom: 0;
	}

	#main #gallery .photos .item {
		max-height: 232px;
	} 

	/*video*/
	#main #video header h2 {
		font-size: 37px;
		line-height: 40px;
		background-size: 17.5%;
	}

	#main #video header p {
		font-size: 19px;
		line-height: 29px;
		margin: 20px 0 0;
	}
	
	/*differential*/
	#main #differential {
		margin-top: 10px;
	}

	#main #differential section i {
		margin-top: -100px;
		width: 160px;
		height: 160px;
	}

	#main #differential section i::before {
		background-size: 70%;
	}

	#main #differential section h2 { 
		line-height: 50px;
		font-size: 18px;
		height: 65px; 
	}

	#main #differential section.box3 {
		border-left: 2px solid #ff7f00;
	}

	#main #differential section.box1 h2 {
	    line-height: 25px;
	}

	#main #differential section p {
		font-size: 14px;
	}

	/*subscribe*/
	#main #subscribe .newsletter h2 {
		font-size: 26px;
		line-height: 31px;
		letter-spacing: 8px;
	} 

	#main #subscribe .newsletter label {
		margin: 20px 0 0; 
	}

	#main #subscribe .newsletter input {
		width: 195px;
		height: 38px;
		font-size: 15px;
	}

	#main #subscribe .newsletter button {
		width: 149px;
		height: 32px;
		font-size: 14px;
		margin: 25px 0 30px;
	}

	#main #subscribe .know h2,
	#main #subscribe .know h3 {
		font-size: 23px;
	}

	#main #subscribe .know p {
		font-size: 14px;
		margin: 10px 0 10px;
	}

	#main #subscribe .know a.btn {
		width: 212px;
		height: 36px;
		font-size: 14px;
		line-height: 24px;
	}

	#main #subscribe .know img {
		max-width: 93%; 
	}

	/*comments*/
	#main #comments .inlet {
		padding: 20px 0;
	}

	#main #comments .inlet .txt1 {
		font-size: 23px;
		line-height: 50px;
		letter-spacing: 3px;
	}

	#main #comments .inlet .txt2 {
		font-size: 13px;
		line-height: 20px;
		width: 40%;
	}

	#main #comments .slider .item {
		height: 242px;
	}

	#main #comments .slider .item .image {
		width: 105px;
		height: 105px;
		left: -60px;
	}

	#main #comments .slider .item .name {
		font-size: 14px;
	}

	#main #comments .slider .item .desc {
		font-size: 13px;
	}

	#main #comments .slider .item .text {
		margin: 5px 15px 5px 50px;
		height: 95px;
	}

	#main #comments .slider .item .box:first-child {
		margin-bottom: 30px;
	}

	#main #comments .slider .item .box { 
		height: 105px;
		margin-left: 60px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	} 

	#main #comments .slider .arrow-left, 
	#main #comments .slider .arrow-right {
		background-size: 75%;
		background-position: center;
	}

	#main #comments .conclusive hr {
		margin: 28px 0;
	}

	#main #comments .conclusive span {
		height: 60px;
		font-size: 17px;
		padding: 14px;
		border-radius: 20px;
	}

	/*calling*/  

	#footer #calling {
		padding: 20px 0;
	}

	#footer #calling span {
		font-size: 26px;
		line-height: 54px;
	}

	#footer #calling a {
		width: 198px;
		height: 40px;
		font-size: 20px;
		line-height: 36px;
	}
	
	/*finding*/

	#footer #finding .logo img {
		max-width: 90%;
	}

	#footer #finding .links {
		padding: 60px 0 50px 40px;
	}

	#footer #finding .links h2 {
		font-size: 13px;
	}

	#footer #finding .links li {
		font-size: 12px;
	}

	#footer #finding .links .social li {
		padding-right: 15px; 
		font-size: 17px;
	}

	#footer #finding .links .contact i {
		font-size: 17px;
		margin-right: 10px; 
	}
}