@media (min-width: 1200px) {

	/* Basic */ 

	#header {
		padding: 2em 0 0 0;
	}

	#header header h1 {
		width: 180px;
		margin-right: 230px;
	}

	#top a {
		width: 198px;
		height: 40px;
		margin-right: 10px;
	}

	#top .btn-rounded {
		font-size: 17px;
		line-height: 36px;
	}

	#top form input {
		width: 264px;
    	height: 40px;
    	padding-left: 40px;
	}

	#top i,
	#top form button {
		width: 36px;
		height: 34px;
	}

	#top i::before,
	#top form .i-loupe::before {
		background-size: 50%;
	}

	#nav {
		margin: 1.5em 0 0 0;
	}

	#nav > ul {
		padding: 15px 0;
	}

	#nav > ul > li > a {
		font-size: 15px; 
		line-height: normal;
	}

	.navbar-collapse:not(.show) {
		display: block;
	}

	#banner header { 
		left: 9%;
	}

	#banner header h2 {
		font-size: 87px;
	}

	#banner header h2 + a {
		font-size: 59px;
	}

	#intro {
		margin-top: -55px;
	}

	#intro section {
		margin: 0 0 1.5em 0;
		background-position: 4px 7px;
		background-size: 70%;
		padding: 100px 0 35px 0;
	}

	#intro section .period {
		width: 202px;
		left: 0px;
	}

	#intro section .period.small {
	    font-size: 16px;
	    top: 25px;
	}

	#intro section .period:not(.small) {
		font-size: 22px; 
	}

	#intro section .plan {
		margin-bottom: 30px;
	} 

	#intro section .plan .coin {
		font-size: 23px;
	}

	#intro section .plan .price {
		font-size: 143px;
		line-height: 113px;
	}

	#intro section .plan .comma {
		font-size: 52px; 
	}

	#intro section .plan .cents {
		font-size: 29px; 
	}

	#intro section p.desc {
		font-size: 16px;
		margin-bottom: 35px;
		line-height: 26px;
	}

	#intro section a.buy {
		font-size: 15px;
		padding: 9px 26px;
	} 

	#intro footer {
		padding: 35px 0;
	}

	#intro footer p {
		font-size: 26px;
		letter-spacing: -1px;
	} 

	#intro footer a {
		font-size: 21px;
		padding: 15px 28px;
		letter-spacing: -1px;
	}

	/*main*/

	#main #gallery .photos .item {
		max-height: 232px;
	}

	#main #gallery .photos .arrow-left,
	#main #gallery .photos .arrow-right {
		background-size: 75%;
	}

	#main #video header h2 {
		font-size: 52px;
		line-height: 52px;
		background-size: 20%;
		letter-spacing: 5px;
		background-position: 90% 81%;
	}

	#main #video header p {
		font-size: 25px;
		margin: 20px 0 0;
		line-height: 35px;
		letter-spacing: 2px;
	}

	#main #differential section i {
		width: 160px;
		height: 160px;
	}

	#main #differential section i::before {
		background-size: 75%;
	}

	#main #differential section h2 {
		font-size: 18px;
		height: 65px;
		line-height: 60px;
	}

	#main #differential section.box1 h2 {
	    line-height: 30px;
	}

	#main #differential section p {
		font-size: 14px;
	}

	#main #subscribe .newsletter h2 {
		font-size: 26px;
		line-height: 31px;
		letter-spacing: 4px;
	}

	#main #subscribe .newsletter label {
		margin: 20px 0 0;
		width: 100%;
	}

	#main #subscribe .newsletter input {
		width: 260px;
		height: 42px;
		font-size: 17px;
	}

	#main #subscribe .newsletter button {
		width: 220px;
		height: 38px;
		font-size: 17px;
		margin: 30px 0 35px;
	}

	#main #subscribe .know h2,
	#main #subscribe .know h3 {
		font-size: 30px;
	}

	#main #subscribe .know p {
		font-size: 16px;
		margin: 20px 0 10px;
	}

	#main #subscribe .know a.btn {
		width: 232px;
		height: 40px;
		font-size: 15px;
		line-height: 26px;
	}

	#main #subscribe .know img {
		max-width: 90%; 
	}

	#main #comments .inlet {
		padding: 30px 0;
	}

	#main #comments .inlet .txt1 {
		font-size: 28px;
		line-height: 54px;
		letter-spacing: 3px;
	}

	#main #comments .inlet .txt2 {
		font-size: 16px;
		width: 40%;
	} 

	#main #comments .slider .item {
		height: 242px;
	}

	#main #comments .slider .item .image {
		width: 105px;
		height: 105px;
		left: -60px;
	}

	#main #comments .slider .item .name {
		font-size: 14px;
	}

	#main #comments .slider .item .desc {
		font-size: 13px;
	}

	#main #comments .slider .item .text {
		margin: 5px 15px 5px 50px;
		height: 95px;
	}

	#main #comments .slider .item .box:first-child {
		margin-bottom: 30px;
	}

	#main #comments .slider .item .box { 
		height: 105px;
		margin-left: 60px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	} 

	#main #comments .slider .arrow-left, 
	#main #comments .slider .arrow-right {
		background-size: 75%;
		background-position: center;
	}

	#main #comments .conclusive hr {
		margin: 28px 0;
	}

	#main #comments .conclusive span {
		height: 60px;
		font-size: 22px;
		padding: 14px;
		border-radius: 20px;
	}

	#footer #calling {
		padding: 20px 0;
	}

	#footer #calling span {
		font-size: 28px;
		line-height: 70px;
	}

	#footer #calling a {
		width: 208px;
		height: 44px;
		font-size: 22px;
		line-height: 42px;
	} 

	#footer #finding .logo img {
		max-width: 90%;
	}

	#footer #finding .links {
		padding: 70px 0 60px 50px;
	}

	#footer #finding .links h2 {
		font-size: 14px;
	}

	#footer #finding .links li {
		font-size: 13px;
	}

	#footer #finding .links .social li {
		padding-right: 20px; 
		font-size: 18px;
	}

	#footer #finding .links .contact i {
		font-size: 18px;  
		margin-right: 10px;
	}
}