section, article {
	margin-bottom: 1.5em;
}

section > :last-child, section:last-child, article > :last-child, article:last-child {
	margin-bottom: 0;
}

header {
	margin: 0 0 1.0em 0;
} 

footer {
	margin: 1.25em 0 0 0;
} 

/* List */

ul {
	list-style: disc;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ol {
	list-style: decimal;
	padding-left: 1.25em;
}

ol li {
	padding-left: 0.25em;
} 

@media (max-width: 575px) {
  .container {
    max-width: 320px;
  }
}

/* @media (min-width: 1366px) {
   .container {
     max-width: 1280px;
   }
 }
  
 @media (min-width: 1920px) {
   .container {
     max-width: 1860px;
   }
 } */ 

/* Header */

#header {
	position: relative;

	background-color: #e9e9e9;
	background: linear-gradient(left, #e9e9e9, #e9e9e9, #fcfcfc, #fcfcfc);
	background: -webkit-linear-gradient(left, #e9e9e9, #e9e9e9, #fcfcfc, #fcfcfc); 
 
	padding: 3em 0 0 0;
	text-align: center;
} 

#header h1 { 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 14em;
}  

#header h1 span {
	font-size: 0;
	float: right; 
}

#top {
	text-align: right;
	display: inline-block; 
	vertical-align: middle; 
}

#top .btn-rounded {
	border-radius: 40px; 
	border: 3.79px solid #2b5983;
	font-size: 36px;
	letter-spacing: 2px;
	line-height: 72px; 
	text-align: center;
	text-transform: uppercase;
}

#top a {
	width: 358px;
	height: 84px;
	margin-right: 0.5em;
	display: inline-block;
}

#top a.sign-it {
	color: rgb(44,90,131);
}

#top a.login {
	color: #FFF;
	background-color: #2b5983;
	position: relative;
}

#top i {
	position: absolute;
	left: 0;
	top: 0;
	width: 81px;
	height: 78px;
	border-radius: 42px;
	background-color: #3d77ab; 
	line-height: inherit;
}

#top i:before {
	content: ""; 
	background-repeat: no-repeat; 
	background-size: auto; 
	width: 100%; 
	height: 100%; 
	display: inline-block; 
	background-position: center center;
}

#top i.i-user:before {
	background-image: url("./../icons/user.png"); 
}

#top form {
	display: inline-block;
	position: relative;
}

#top form input {
	width: 434px;
	height: 84px;
	color: rgb(44,90,131);
	border-radius: 40px; 
	border: 3.79px solid #2b5983;
	padding-left: 81px; 
}

#top form button {
	position: absolute;
	left: 2.79px;
	top: 2.79px;
	padding: 0;

	width: 81px;
	height: 78px;
	border-radius: 42px;
	background-color: rgba(61, 119, 171, 0.2); 
	line-height: inherit;
}

#top form .i-loupe:before { 
	content: ""; 
	background-repeat: no-repeat; 
	background-size: auto; 
	width: 100%; 
	height: 100%; 
	display: inline-block; 
	background-position: center center;
	background-image: url("./../icons/loupe.png"); 
}

/* Nav */

.navbar-toggler { 
	display: none;
}

#nav {
	margin: 2.5em 0 0 0;
	background-color: #00485f;
}

#nav > ul {
	margin: 0;
	text-align: right;
	padding: 2.05em 0;
	display: inline-block;
}

#nav > ul > li {
	display: inline-block;
	/*font-style: italic;*/
	margin: 0 0.35em 0 0.35em;
	border-left: 2px solid #ff7f00;
}
#nav > ul > li:first-child {
	border: 0;
}

#nav > ul > li > ul {
	display: none;
}

#nav > ul > li > a {  
	font-size: 34px;
	letter-spacing: 2px;
	line-height: 58px;
	color: #FFF; 
	padding: 0.25em 0.75em;
	text-align: center;
}  

/* Banner */

#banner { 
	position: relative; 
	margin-bottom: 0; 
}

#banner header {
	position: absolute;
	top: 17.5%;
	left: 8.5%; 
}

#banner header h2 {
	font-size: 117px;
	letter-spacing: -3px;
	color: #fff;
	font-family: "Bebas";
	text-align: center;
	line-height: normal;
}

#banner header h2 > span {
	color: #ff8000;
}

#banner header h2 + a {
	font-size: 79px;
	letter-spacing: -2px;
	color: #fff;
	font-family: "Bebas Neue"; 
	text-align: center; 
	line-height: normal;
	padding: 0.23em 1.1em;
	border-radius: 50px;
	background-color: #d36d06;
	display: inline-block;
	margin-top: 0.8em;
}

/* Intro */

#intro {
	text-align: center;
	/*overflow: hidden;*/ 
	background: #fff;
	margin-top: -95px;
}

#intro .plans {
	padding: 0 75px;
}

#intro section {
	margin: 0 2.2em 3em 2.2em;
	padding: 160px 0 70px 0;
	position: relative;
	outline-offset: -15px;
	outline: 1px solid #fff;

	background-image: url("../../images/rectangle.png"); 
	background-position: -2px 3px;
	background-repeat: no-repeat; 
}

#intro section:not(.middle) {
	background-color: #199fcb;
}

#intro section.middle {
	background-color: #2b5983;
	margin-top: -90px;
}

#intro section .period {
	letter-spacing: 5px;
	line-height: normal;
	font-weight: bold;
	color: rgb(8,37,62);
	position: absolute;
	left: 15px;
	width: 332px;
	text-transform: uppercase;
}

#intro section .period:not(.small) {
	font-size: 48px;
	top: 21px;
}

#intro section .period.small {
	font-size: 36px;
	top: 27px;
}

#intro section:not(.middle) .plan {
	color: rgb(8,37,62);
}

#intro section.middle .plan {
	color: rgb(211,211,211);
}

#intro section .plan {
	font-weight: bold;
	line-height: normal;
	margin-bottom: 60px;
}

#intro section .plan .coin {
	font-size: 47px;
	letter-spacing: -2px;
	line-height: 0;
	vertical-align: middle;
}

#intro section .plan .price {
	font-size: 213px;
	letter-spacing: -11px;
	line-height: 160px;
	vertical-align: top;
}

#intro section .plan .comma {
	font-size: 72px;
	letter-spacing: -4px;
	line-height: 0;
	vertical-align: super;
}

#intro section .plan .cents {
	font-size: 51px;
	letter-spacing: -3px;
	line-height: 0;
	vertical-align: middle;
}

#intro section p.desc {
	font-size: 24px;
	letter-spacing: -1px;
	color: rgb(255,255,255);
	margin: 0 30px 70px 30px;
	text-align: left;
}

#intro section a.buy {
	border-radius: 24px;
	background-color: #e5e5e5;
	padding: 13px 33px;
	font-size: 19px;
	letter-spacing: -1px;
	line-height: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

#intro section:not(.middle) a.buy {
	color: rgb(25,160,203);
}

#intro section.middle a.buy {
	color: rgb(44,90,131);
} 

#intro footer {
	background-color: #e77300;
	text-align: center;
	padding: 45px 0;
	margin-top: 0;
}

#intro footer p {
	margin-bottom: 0;
	font-size: 52px;
	letter-spacing: -3px;
	color: rgb(255,255,255);
	font-weight: bold; 
	max-width: 45%;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}

#intro footer a { 
	color: #fff;
	font-size: 34px;
	font-weight: bold;
	margin-left: 5%;
	padding: 50px 38px;
	letter-spacing: -3px;
	background-color: #2b5983;
	display: inline-block;
	vertical-align: middle;
	box-shadow: inset 1px 1px 15px 15px rgba(4,0,6,0.20);
}

/* Main */

#main {
	position: relative; 
	padding: 2.5em 0 2em 0;
}

#main #gallery {
	padding-bottom: 2.5em;
}

#main #gallery .photos {
	position: relative;
	padding: 0 26px;
	text-align: center;
}

#main #gallery .photos .item { 
	max-height: 392px;
	margin: 0 10px;
	overflow: hidden;
}

#main #gallery .photos img {
	max-width: initial;
}

#main #gallery .photos .arrow-right {
	background-image: url("../icons/next.png"); 
	background-position: 100% 100%;
	background-repeat: no-repeat;

	position: absolute;
	top: calc(50% - 44px);
	width: 26px;
	height: 88px;
	right: 0;
}

#main #gallery .photos .arrow-left {
	background-image: url("../icons/previus.png"); 
	background-position: 100% 100%;
	background-repeat: no-repeat;

	position: absolute;
	top: calc(50% - 44px);
	width: 26px;
	height: 88px;
	left: 0;
}

#main #video {
	background-color: #d36d06;
	padding-top: 50px;
	padding-bottom: 50px;
}

#main #video header {
	margin-bottom: 0;
}

#main #video header h2 {
	font-size: 103px;
	letter-spacing: 8px;
	line-height: 102px;
	color: rgb(255,255,255);
	font-family: "Bebas Neue";

	background-image: url("../icons/book.png"); 
	background-position: 100% 81%;
	background-repeat: no-repeat; 
} 

#main #video header p {
	font-size: 45px;
	letter-spacing: 3px;
	color: rgb(255,255,255);
	font-family: "Bebas Neue"; 
	line-height: 50px;
	margin: 30px 0 0;
}

#main #video .row .col-6:last-child {
	text-align: right;
}

#main #differential {
	background-color: #2b5983;
	margin-top: 50px;
}

#main #differential section {
	margin: 50px 0px;
	padding-bottom: 10px;
	text-align: center;
	position: relative;
}

#main #differential section:after {
	content: '';
	border-right: 2px solid #ff7f00;
	height: 100%;
	position: absolute;
	top: 0;
	right: -25px;
}

#main #differential section.box1 {
	border-left: 2px solid #ff7f00;
}

#main #differential section i {
	width: 270px;
	height: 267px;
	border-radius: 133px;
	background-color: #199fcb;
	display: inline-block;
	margin-top: -170px;
} 

#main #differential section i:before {
	content: ""; 
	background-repeat: no-repeat; 
	background-size: auto; 
	width: 100%; 
	height: 100%; 
	display: inline-block; 
	background-position: center center;
}

#main #differential section i.i-player:before {
	background-image: url("./../icons/player.png"); 
}

#main #differential section i.i-browsing:before {
	background-image: url("./../icons/browsing.png"); 
}

#main #differential section i.i-watch:before {
	background-image: url("./../icons/watch.png"); 
}

#main #differential section i.i-brainstorm:before {
	background-image: url("./../icons/brainstorm.png"); 
}

#main #differential section h2 {
	font-size: 32px;
	letter-spacing: 2px;
	color: rgb(255,255,255);  
	text-transform: uppercase;
	height: 85px; 
	line-height: 80px; 
}

#main #differential section.box1 h2 {
	line-height: 40px;
}

#main #differential section p {
	font-size: 19px;
	padding: 15px;
	letter-spacing: 1px;
	color: rgb(255,255,255);
	line-height: normal;
}

/*subscribe*/
#main #subscribe { 
	margin-bottom: 0;
}

#main #subscribe .newsletter {
	background-color: #0d2e4c;
	text-align: center;
}

#main #subscribe .newsletter h2 {
	font-size: 64px;
	letter-spacing: 13px;
	line-height: 111px;
	padding: 30px 0 20px;
	color: rgb(255,255,255);
	text-transform: uppercase;
}

#main #subscribe .newsletter label {
	margin: 35px 0 0; 
	width: 100%; 
}

#main #subscribe .newsletter input {
	width: 405px;
	height: 84px;
	display: inline-block;
	border-radius: 40px;
	background-color: #ebebeb;
	border: 1px solid #ebebeb;

	font-size: 28px;
	text-align: center;
	color: rgb(255,128,0); 
	font-weight: bold; 
	text-decoration: underline;
}

#main #subscribe .newsletter input::placeholder {
	text-decoration: none;
}

#main #subscribe .newsletter button {
	width: 269px;
	height: 48px;
	margin: 40px 0 45px;
	border-radius: 24px;
	text-transform: uppercase;
	background-color: #ff7f00;
 
	padding: 0;
	font-size: 27px; 
}

#main #subscribe .know {
	text-align: right;
}

#main #subscribe .know h2 {
	font-size: 55px;
	letter-spacing: -1px;
	color: rgb(0,0,0);
	text-transform: uppercase;
	line-height: normal;
}

#main #subscribe .know h3 {
	font-size: 55px;
	letter-spacing: -1px;
	color: rgb(0,0,0);
	font-weight: 100; 
	line-height: normal;
	text-transform: uppercase;
}

#main #subscribe .know p {
	font-size: 26px;
	letter-spacing: -1px;
	color: rgb(0,0,0);
	font-weight: 100; 
	margin: 30px 0 15px;
	line-height: normal;
}

#main #subscribe .know a.btn {
	width: 362px;
	height: 58px;
	border-radius: 29px;
	background-color: #2b5983;

	font-size: 26px;
	letter-spacing: 2px;
	line-height: 56px;
	color: rgb(230,115,0); 
	text-align: center; 
	display: inline-block;
	text-transform: uppercase;
}

#main #subscribe .know img { 
	float: left;
}

#main #subscribe .know .row .col-5 {
	padding-left: 25px;
}

/*comments*/
#main #comments {

}

#main #comments .inlet {
	text-align: center;
	padding: 50px 0;
	background-color: #2b5983;
}

#main #comments .inlet .txt1 {
	font-size: 48px;
	letter-spacing: 10px;
	line-height: 84px;
	font-weight: bold;
	color: rgb(255,255,255); 
}

#main #comments .inlet .txt2 {
	font-size: 22px;
	letter-spacing: 4px;
	color: rgb(255,255,255);  
	width: 30%;
	display: inline-block;
} 

#main #comments .slider {
	margin-bottom: 2.0em;
}

#main #comments .slider .items {
	position: relative;
	padding: 0 26px;
	text-align: center;
}

#main #comments .slider .item { 
	max-width: 428px;
	height: 392px;
	margin: 0 10px;
	display: inline-block;
	overflow: hidden;
} 

#main #comments .slider .item .box {
	margin-left: 70px;
	height: 165px;
	border-radius: 40px;
	background-color: #199fcb;
	position: relative;
}

#main #comments .slider .item .box:first-child {
	margin-bottom: 60px;
}

#main #comments .slider .item .image {
	width: 165px;
	height: 165px;
	border-radius: 84px;
	background-color: #ff7f00;
	position: absolute;
	top: 0;
	left: -70px;
}

#main #comments .slider .item .text { 
	text-align: right;
	color: rgb(255,255,255);
	margin: 25px 25px 25px 105px;
	float: right;
	height: 115px;
	overflow: hidden;
}

#main #comments .slider .item .name { 
	font-weight: bold;
	font-size: 23px;
}

#main #comments .slider .item .desc { 
	line-height: normal;
	font-size: 19px;
}

#main #comments .slider .arrow-right {
	background-image: url("../icons/next.png"); 
	background-position: 100% 100%;
	background-repeat: no-repeat;

	position: absolute;
	top: calc(50% - 44px);
	width: 26px;
	height: 88px;
	right: 0;
}

#main #comments .slider .arrow-left {
	background-image: url("../icons/previus.png"); 
	background-position: 100% 100%;
	background-repeat: no-repeat;

	position: absolute;
	top: calc(50% - 44px);
	width: 26px;
	height: 88px;
	left: 0;
}

#main #comments .conclusive {
	text-align: center;
}

#main #comments .conclusive hr { 
	height: 4px;
	margin: 60px 0;
	background-color: #2b5983;
}

#main #comments .conclusive span {
	display: block;
	height: 121px;
	border-radius: 30px;
	background-color: #2b5983;

	font-size: 49px;
	letter-spacing: 4px;
	padding: 45px 0;
	color: rgb(255,255,255);
	text-transform: uppercase;
	box-shadow: inset 1px 1px 15px 15px rgba(4,0,6,0.20);
} 

/* Footer */ 
#footer {
	margin-bottom: 0;
}

#footer #calling {
	text-align: center;
	padding: 40px 0;
	background-color: #ebebeb;
	margin-bottom: 1em;
}

#footer #calling p {
	margin-bottom: 0;
}

#footer #calling span {
	font-size: 50px;
	line-height: 100px;
	color: rgb(38,23,18); 
	display: inline-block;
	vertical-align: middle;
	margin-right: 2%;
}

#footer #calling a {
	width: 338px;
	height: 84px;
	border-radius: 40px;
	background-color: #ff7f00;
	border: 3.79px solid #ce6601;

	font-size: 37px;
	display: inline-block;
	letter-spacing: 3px;
	line-height: 80px; 
	color: rgb(255,255,255); 
	vertical-align: middle;
	text-transform: uppercase;
	box-shadow: inset 1px 1px 15px 15px rgba(4,0,6,0.20);
}

#footer #finding {
	border-top: 34px solid #dedede;  
	background-color: #dedede;
	background: linear-gradient(left, #dedede, #dedede, white, white);
	background: -webkit-linear-gradient(left, #dedede, #dedede, white, white); 
} 

#footer #finding .logo {
	margin-top: 60px;
} 

#footer #finding .links {
	background-color: #fff;
	padding: 80px 0 100px 100px;
} 

#footer #finding .links header {
	margin-bottom: 1em;
}

#footer #finding .links h2 {
	font-size: 19px;
	line-height: normal;
	letter-spacing: 1px; 
	text-transform: uppercase;
} 

#footer #finding .links ul { 
	list-style: none;
	padding-left: 0;
	margin-bottom: 1em;
} 

#footer #finding .links li {  
	padding-left: 0;
	font-size: 16px;
	letter-spacing: 1px;  
} 

#footer #finding .links a {  
	color: #656d6f; 
} 

#footer #finding .links .social li {  
	display: inline-block;
	padding-right: 45px;
	font-size: 20px;
}

#footer #finding .links .col-sm-3 {
	padding-right: 0;
} 

#footer #finding .links .contact i {   
	font-size: 20px;
	margin-right: 15px; 
	vertical-align: middle;
}