@media (max-width: 575px) {

	/* Basic */

	body, input, textarea, select {
		font-size: 10pt;
	}

	h2, h3, h4, h5, h6 {
		font-size: 1em;
	}

	/* Button */

	input[type="button"].large,
	input[type="submit"].large,
	input[type="reset"].large,
	button.large, .button.large {
		font-size: 1.1em;
		padding: 0.65em 1.5em 0.65em 1.5em;
	}

	/*top*/
	#header {
		padding: 2em 0 0 0;
	}

	#header header h1 {
		margin-right: 0;
		margin-bottom: 10px;
		width: 130px;
	}

	#top {
		text-align: center;
	}

	#top a {
		width: 128px;
		height: 30px;
		margin-right: 0px;
	}

	#top .btn-rounded {
		font-size: 13px;
		line-height: 24px;
	}

	#top form {
		margin-top: 10px;
	}

	#top form input {
		width: 174px;
    	height: 30px;
    	padding-left: 20px;
	}

	#top i,
	#top form button {
		width: 26px;
		height: 24px;
	} 
	
	#top i::before,
	#top form .i-loupe::before {
		background-size: 50%;
	}
	
	/*nav*/
	.navbar-toggler {
		position: absolute; 
		top: 15px; 
		background-color: #00485f; 
		right: 15px;
		display: block;
	}

	.navbar-toggler:hover {
		background-color: #ff8000;
	}

	.navbar-toggler.collapsed > .fa-times {
		display: none;
	}

	.navbar-toggler:not(.collapsed) > .fa-times {
		display: block;
	}

	.navbar-toggler.collapsed > .fa-bars {
		display: block;
	} 

	.navbar-toggler:not(.collapsed) > .fa-bars {
		display: none;
	}
	 
	#nav {
		margin: 1.5em 0 0 0; 
	}

	#nav > ul {
		padding: 10px 15px;
	}

	#nav > ul > li {
		display: block; 
	}

	#nav > ul > li:first-child {
		border-left: 2px solid #ff7f00;
	}

	#nav > ul > li > a { 
		display: block; 
		font-size: 10px; 
		line-height: 24px;
		text-align: right;
	}

	/*banner*/ 
	#banner header {
		/*top: 4.75em; */
	}

	#banner header h2 {
		font-size: 23px; 
		letter-spacing: -1px;
	}

	#banner header h2 + a {
		font-size: 18px;
		letter-spacing: -1px;
	}

	/*period*/
	#intro {
		margin-top: -35px
	}

	#intro .plans {
	    padding: 0;
	}

	#intro .col-12 {
		padding-left: 20%;
		padding-right: 20%; 
	}

	#intro section { 
		margin: 0 0 1em 0;
		background-position: 8px 10px;
		background-size: 75%;
		padding: 60px 0 15px 0;
	}

	#intro section.middle {
		margin-top: 0;
	}

	#intro section .period {
		width: 102px;
	}

	#intro section .period.small {
	    font-size: 11px; 
		top: 21px;
		letter-spacing: 2px;
	}

	#intro section .period:not(.small) {
		font-size: 14px;
		top: 18px;
	}

	#intro section .plan {
		margin-bottom: 20px;
	} 

	#intro section .plan .coin {
		font-size: 15px;
	}

	#intro section .plan .price {
		font-size: 78px;
		line-height: 64px;
	}

	#intro section .plan .comma {
		font-size: 34px; 
	}

	#intro section .plan .cents {
		font-size: 16px; 
	}

	#intro section p.desc {
		font-size: 10px;
		margin-bottom: 10px;
		line-height: 15px;
	}

	#intro section a.buy {
		font-size: 11px;
		padding: 7px 14px;
	} 

	#intro footer {
		padding: 30px 0;
	}

	#intro footer p {
		font-size: 14px;
		letter-spacing: 0px;
		max-width: 100%;
		margin-bottom: 10px;
	} 

	#intro footer a {
		font-size: 10px;
		padding: 4px 12px;
		letter-spacing: 0px;
	}

	/*gallery*/
	#main {
		padding-top: 0;
	}

	#main #gallery {
		padding-bottom: 0;
	}

	#main #gallery .photos .item {
		max-height: 162px;
	} 

	#main #gallery .photos .arrow-left,
	#main #gallery .photos .arrow-right {
		background-size: 50%; 
		background-position: center;
	}

	/*video*/
	#main #video {
		padding: 25px 0;
	}

	#main #video header h2 {
		font-size: 22px;
		line-height: 25px;
		background-size: 15%;
	}

	#main #video header p {
		font-size: 13px;
		line-height: 20px;
		margin: 15px 0 10px;
	} 
	
	/*differential*/
	#main #differential {
		margin-top: 20px;
	}

	#main #differential section {
		border-left: 2px solid #ff7f00;
		border-right: 2px solid #ff7f00;
	}

	#main #differential section::after {
		display: none;
	}

	#main #differential section i {
		width: 110px;
		height: 110px; 
	}

	#main #differential section i::before {
		background-size: 65%;
	}

	#main #differential section h2 {
		font-size: 15px;
		height: 44px;
		line-height: 44px;
	}  

	#main #differential section.box1 h2 {
	    line-height: 20px;
	}

	#main #differential section p {
		font-size: 10px;
	}

	/*subscribe*/
	#main #subscribe .newsletter h2 {
		font-size: 22px;
		line-height: 25px;
		letter-spacing: 5px
	} 

	#main #subscribe .newsletter label {
		margin: 15px 0 0; 
	}

	#main #subscribe .newsletter input {
		width: 195px;
		height: 38px;
		font-size: 14px;
	}

	#main #subscribe .newsletter button {
		width: 149px;
		height: 32px;
		font-size: 13px;
		margin: 25px 0 30px;
	}

	#main #subscribe .know {
		margin-top: 20px;
	}

	#main #subscribe .know header {
		margin: 0 0 0.5em 0;
	} 

	#main #subscribe .know h2,
	#main #subscribe .know h3 {
		font-size: 19px;
	}

	#main #subscribe .know p {
		font-size: 12px;
		margin: 15px 0 10px;
	} 

	#main #subscribe .know a.btn {
		width: 172px;
		height: 32px;
		font-size: 10px;
		line-height: 20px;
	}

	#main #subscribe .know img { 
	    max-width: 60%;
	    margin-top: -50px;
	    z-index: -1;
	    position: relative;
	}

	/*comments*/
	#main #comments .inlet {
		padding: 10px 0;
	}

	#main #comments .inlet .txt1 {
		font-size: 10px;
		line-height: 24px;
		letter-spacing: 2px;
	}

	#main #comments .inlet .txt2 {
		font-size: 7px; 
		width: 75%; 
		line-height: 15px;
	}

	#main #comments .slider {
		margin-bottom: 0;
	}

	#main #comments .slider .item {
		height: 212px; 
		max-width: 100%;
	} 

	#main #comments .slider .item .image {
		width: 95px;
		height: 95px;
		left: -50px;
	}

	#main #comments .slider .item .box:first-child {
		margin-bottom: 20px;
	}

	#main #comments .slider .item .box { 
		height: 95px; 
		margin-left: 50px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	} 

	#main #comments .slider .item .text {
		margin: 15px 15px 15px 45px;
		height: 65px;
	}

	#main #comments .slider .item .name {
	    font-size: 12px;
	}
	
	#main #comments .slider .item .desc {
	    font-size: 10px;
	}

	#main #comments .slider .arrow-left, 
	#main #comments .slider .arrow-right {
		background-size: 50%; 
		background-position: center;
	}

	#main #comments .conclusive hr {
		margin: 30px 0;
	}

	#main #comments .conclusive span { 
		height: 50px; 
		font-size: 13px; 
		padding: 12px; 
		margin: 0 15px;
		border-radius: 20px;
	}

	/*calling*/
	#footer #calling {
    	padding: 15px 0;
	}

	#footer #calling span {
		font-size: 15px;
		line-height: 20px;
		margin-right: 0;
		margin-bottom: 10px;
	}

	#footer #calling a {
		width: 148px;
		height: 35px;
		font-size: 13px;
		line-height: 29px;
	}
	
	/*finding*/ 
	#footer #finding .col-2 {
		padding-right: 0;
	} 
	
	#footer #finding .links {
		padding: 15px 0 25px 15px;
	}

	#footer #finding .links h2 {
		font-size: 11px;
	}

	#footer #finding .links li {
		font-size: 8px;
		letter-spacing: 0px;
	}
	#footer #finding .links .social li {
		padding-right: 5px; 
		font-size: 10px;
	}

	#footer #finding .links .contact i {
		font-size: 10px;
		margin-right: 5px;
	} 

}